<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio page</title>
    <link rel="stylesheet" href="/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
    crossorigin="anonymous"
    referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" 
rel="stylesheet">
</head>
<body>
    <div class="BaseBar">
        <a href="/" class="Home">Home</a>
        <a href="/About" class="About">About</a>
        <a href="/Project" class="Project">Project</a>
        <a href="/Contact" class="contact">contact</a>
    </div>
     <span id="typing-text"></span>
    <br>
    <div class="Header-div">
        <H1 style="font-weight: bold;" class="head">TOSHIT MAHAWAR</H1>
        <img src="/Toshit.jpeg">
    </div>
    <div class="word-slider">
       <h2 id="sliderText"></h2>
    </div>
    <br>
    <br>
    <h2 class="About">About</h2>
    <div class="introduction">
        <h1 class="sentence">Hi !  I'm TOSHIT MAHAWAR,Aspiring Software Engineer.<br>I graduated from Aryanhatta college of Engineering and research center with branch B-TECH Computer science in the year 2028.<br>I've learnt so many skills like Abacus, web development,programing languages(c++ and java),ethical Hacking,Robotics and IOT,Artificial Intelligence And Machine leaning (AI/ML).</h1>
    </div>
    <div class="social">
                <a href="https://www.google.com/search?q=instagram&oq=instagram&gs_lcrp=EgZjaHJvbWUyCwgAEEUYExg5GIAEMgkIARAAGBMYgAQyCQgCEAAYExiABDIJCAMQABgTGIAEMgkIBBAAGBMYgAQyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQg1NDQwajBqN6gCCLACAfEFXOCDnBzZ89Y&sourceid=chrome&ie=UTF-8"><i class="fa-brands fa-instagram"></i></a>
                <label for="link">Instagram</label>
                <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-square-linkedin"></i></a>
                <label for="link">Linkedin</label>
                <a href="https://github.com/"><i class="fa-brands fa-github"></i></a>
                <label for="link">GitHub</label>
    </div>
    <H2 class="H">Project</H2>
    <br>
    <br>
    <a href="/project">
        <button>
            <div class="Project-card">
                <i class="fa-solid fa-code"></i>
                <h3 class="project">Project</h3>
            </div>
        </button>
    </a>
    <br>
    <br>
    <br>
    <P>
        <h1 class="heading">Get in touch(contact info.)</h1>
            <p class="contact">
                <p>Email:mahawartoshit@gmail.com</p>
                <p>Mobile no:+91 8949664514</p>
                <p>linkedin : https://www.linkedin.com/feed/</p>
            </p>
     </P>
    
    <script src="/portfolio.js"></script>
</body>
</html>
