<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="portfolio2.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    <div class="Project-Link"> 
        <ol type = 'A'> 
            <li> <span>Project_link :</span> <i class="fa-solid fa-arrow-right"></i> <a href="https://abacus-delta.onrender.com">Sankhya Abacus</a></li>
        </ol>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-is/19.1.1/cjs/react-is.production.min.js" integrity="sha512-pROc4EZSY744d9vSGeJmRHF0ACJhiXIYq76Lla57+NKGsJAJ7caAu89FsHWhwOrQIoy9UphMB3lCZbbHUe8mqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
