<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD
    <a href="https://abacus-delta.onrender.com">Sankhaya Abacus</a>
=======
    <a href="https://abacus-delgit add .
git rebase --continueta.onrender.com/posts">Sankhya Abacus</a>
>>>>>>> cb7eb3f (update)
</body>
</html>
